__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/
venv/

dbt_project/olist_ecommerce/target/
dbt_project/olist_ecommerce/dbt_packages/
dbt_project/olist_ecommerce/logs/

**/terraform/.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl